element {
    overflow: auto;
}

body {
    margin: 0px;
    color: rgb(249, 210, 134);
    font-family: "GAMERIA", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}

* {
    box-sizing: inherit;
}

.mui-14ploy1 {
    display: flex;
    flex-direction: column;
    background-color: rgb(34, 25, 17);
}

.mui-1ts5bj3 {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 50;
}

.mui-r9ggzu {
    width: 100vw;
    background-image: url(../images/image\(24\).png) no-repeat;
    overflow: hidden;
    z-index: 100;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    height: 80px;
}

.mui-ib4p29 {
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: 1166px;
    width: 100%;
    -moz-box-pack: center;
    justify-content: center;
}

.mui-18mlrpa {
    display: flex;
    flex-direction: row;
    max-width: 700px;
    width: 100%;
    -moz-box-pack: justify;
    justify-content: space-between;
    padding: 12px;
}

.mui-1ht14y9 {
    display: flex;
    flex-direction: column;
    -moz-box-pack: center;
    justify-content: center;
    gap: 4px;
    width: auto;
    align-items: flex-start;
}

.mui-7g5nui {
    margin: 0px;
    font-weight: 400;
    letter-spacing: 1.32px;
    color: rgb(244, 240, 235);
    -webkit-text-stroke-width: 0px;
    font-family: BANGOPRO;
    text-transform: uppercase;
}

.mui-15j18an {
    margin: 0px;
    font-style: normal;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0px;
    -webkit-text-stroke: 0px #E47B9A;
    font-family: "NUNITO", sans-serif;
    color: rgb(201, 177, 156);
    background: unset;
    filter: unset;
    font-weight: 700;
    -webkit-text-fill-color: #5CD834;
}

.mui-gy1a23 {
    display: flex;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
}

.mui-gy1a23 > :not(style):not(style) {
    margin: 0px;
}

.mui-81gsyc {
    position: relative;
    outline: 0px;
    cursor: pointer;
    user-select: none;
    appearance: none;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    min-width: 64px;
    box-sizing: border-box;
    -moz-box-pack: center;
    justify-content: center;
    white-space: nowrap;
    height: 48px;
    font-family: "GAMERIA", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 1px;
    -webkit-text-fill-color: unset;
    -webkit-text-stroke: 1px #A92F7C;
    border: 2px solid #48F1C6;
    background: #B73E92 url("/images/landing/tgApp/premium-btn-bg.svg") 0% 0% / cover no-repeat;
    box-shadow: #F4A832 0px 3px 0px, #7D43EA 0px 0px 20px;
    transition: 0.3s ease-in;
    padding: 8px 16px;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    gap: 6px;
}

.mui-81gsyc > span {
    font-family: BANGOPRO;
    text-transform: uppercase;
    -webkit-text-fill-color: #29C4B7;
    -webkit-text-stroke-width: 0px !important;
    text-shadow: #F67D2E -1px -1px 0px, #9ABF47 0px -1px 0px, #4E72D8 1px -1px 0px, #F3A91C 1px 0px 0px, #7BC4E8 1px 1px 0px, rgb(155, 107, 39) 0px 1px 0px, rgb(155, 107, 39) -1px 1px 0px, rgb(155, 107, 39) -1px 0px 0px;
    filter: drop-shadow(#D14F92 0px 1.5px 0px);
}

.mui-81gsyc > span {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 1px;
    background: linear-gradient(#6FA3CD 0%, #E85F42 115.91%) padding-box text;
    -webkit-text-stroke: 1px #4CB28F;
}

.mui-81gsyc > span {
    white-space: nowrap;
}

.mui-ljv8ic {
    display: flex;
    flex-direction: row;
    -moz-box-pack: center;
    justify-content: center;
    width: 100%;
    -moz-box-align: center;
    align-items: center;
    padding: 20px 0px;
    gap: 24px 0px;
}

.mui-5sjj46 {
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: justify;
    justify-content: space-between;
}

.mui-14647vy {
    display: flex;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    gap: 32px;
}

.mui-1tcm166 {
    width: fit-content;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    cursor: pointer;
}

.mui-1ftj51d {
    display: flex;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
    gap: 150px;
}

.mui-14s4iyf {
    display: flex;
    -moz-box-align: center;
    align-items: center;
    position: relative;
}

.mui-1xe9xyf {
    display: flex;
    -moz-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    background: transparent;
    border: medium;
    cursor: pointer;
    text-decoration: none;
}

.mui-f8g9he {
    margin: 0px;
    font-weight: 400;
    letter-spacing: 1.32px;
    color: rgb(244, 240, 235);
    -webkit-text-stroke-width: 0px;
    text-shadow: rgb(133, 100, 71) -1px -1px 0px, rgb(133, 100, 71) 0px -1px 0px, rgb(133, 100, 71) 1px -1px 0px, rgb(133, 100, 71) 1px 0px 0px, rgb(133, 100, 71) 1px 1px 0px, rgb(133, 100, 71) 0px 1px 0px, rgb(133, 100, 71) -1px 1px 0px, rgb(133, 100, 71) -1px 0px 0px;
    filter: drop-shadow(rgb(133, 100, 71) 0px 2px 0px);
    transition: 0.5s;
    font-size: 18px;
    line-height: 24px;
    font-family: BANGOPRO;
    text-transform: uppercase;
}

.mui-14s4iyf {
    display: flex;
    -moz-box-align: center;
    align-items: center;
    position: relative;
}

.mui-1xe9xyf {
    display: flex;
    -moz-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    background: transparent;
    border: medium;
    cursor: pointer;
    text-decoration: none;
}

.mui-f8g9he {
    margin: 0px;
    font-weight: 400;
    letter-spacing: 1.32px;
    color: rgb(244, 240, 235);
    -webkit-text-stroke-width: 0px;
    text-shadow: rgb(133, 100, 71) -1px -1px 0px, rgb(133, 100, 71) 0px -1px 0px, rgb(133, 100, 71) 1px -1px 0px, rgb(133, 100, 71) 1px 0px 0px, rgb(133, 100, 71) 1px 1px 0px, rgb(133, 100, 71) 0px 1px 0px, rgb(133, 100, 71) -1px 1px 0px, rgb(133, 100, 71) -1px 0px 0px;
    filter: drop-shadow(rgb(133, 100, 71) 0px 2px 0px);
    transition: 0.5s;
    font-size: 18px;
    line-height: 24px;
    font-family: BANGOPRO;
    text-transform: uppercase;
}

.mui-14s4iyf {
    display: flex;
    -moz-box-align: center;
    align-items: center;
    position: relative;
}

.mui-1xe9xyf {
    display: flex;
    -moz-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    background: transparent;
    border: medium;
    cursor: pointer;
    text-decoration: none;
}

.mui-f8g9he {
    margin: 0px;
    font-weight: 400;
    letter-spacing: 1.32px;
    color: rgb(244, 240, 235);
    -webkit-text-stroke-width: 0px;
    text-shadow: rgb(133, 100, 71) -1px -1px 0px, rgb(133, 100, 71) 0px -1px 0px, rgb(133, 100, 71) 1px -1px 0px, rgb(133, 100, 71) 1px 0px 0px, rgb(133, 100, 71) 1px 1px 0px, rgb(133, 100, 71) 0px 1px 0px, rgb(133, 100, 71) -1px 1px 0px, rgb(133, 100, 71) -1px 0px 0px;
    filter: drop-shadow(rgb(133, 100, 71) 0px 2px 0px);
    transition: 0.5s;
    font-size: 18px;
    line-height: 24px;
    font-family: BANGOPRO;
    text-transform: uppercase;
}

.mui-14s4iyf {
    display: flex;
    -moz-box-align: center;
    align-items: center;
    position: relative;
}

.mui-1xe9xyf {
    display: flex;
    -moz-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    background: transparent;
    border: medium;
    cursor: pointer;
    text-decoration: none;
}

.mui-f8g9he {
    margin: 0px;
    font-weight: 400;
    letter-spacing: 1.32px;
    color: rgb(244, 240, 235);
    -webkit-text-stroke-width: 0px;
    text-shadow: rgb(133, 100, 71) -1px -1px 0px, rgb(133, 100, 71) 0px -1px 0px, rgb(133, 100, 71) 1px -1px 0px, rgb(133, 100, 71) 1px 0px 0px, rgb(133, 100, 71) 1px 1px 0px, rgb(133, 100, 71) 0px 1px 0px, rgb(133, 100, 71) -1px 1px 0px, rgb(133, 100, 71) -1px 0px 0px;
    filter: drop-shadow(rgb(133, 100, 71) 0px 2px 0px);
    transition: 0.5s;
    font-size: 18px;
    line-height: 24px;
    font-family: BANGOPRO;
    text-transform: uppercase;
}

.mui-1pqgegr {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -14px;
    right: 4px;
    background-color: #D763AE;
    border-radius: 40px;
    padding: 0px 4px;
    max-height: 20px;
}

.mui-1yj45il {
    margin: 0px;
    font-style: normal;
    -webkit-text-stroke: 0px #7FAE39;
    line-height: 20px;
    font-weight: 800;
    font-family: "NUNITO", sans-serif;
    letter-spacing: 0.24px;
    text-transform: initial;
    -webkit-text-fill-color: #C54B76;
    color: rgb(245, 245, 245);
    background: unset;
    font-size: 13px;
}

.mui-etw6ry {
    display: flex;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    gap: 12px;
}

.mui-1u5xrkq {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.mui-g8v2su {
    cursor: pointer;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    padding: 12px;
    border-radius: 100px;
    width: 48px;
    min-width: 48px;
    height: 48px;
    border: 2px solid rgb(93, 67, 45);
    box-shadow: #3F89DA;
    background-color: #E4B672;
    transition: background-color 0.5s;
}

.mui-5flzjv {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: center;
    -moz-box-align: center;
    align-items: center;
    padding-bottom: 80px;
    margin-bottom: 80px;
}

.mui-157terx {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    min-height: 800px;
    width: 100%;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    overflow: hidden;
}

.mui-doak19 {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    object-fit: cover;
    object-position: center top;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.mui-15fa293 {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    background: radial-gradient(74.62% 74.62% at 46.71% 25.38%, rgba(34, 25, 17, 0) 44.27%, rgb(34, 25, 17) 99.55%), linear-gradient(360deg, rgba(34, 25, 17, 0) 18.88%, rgb(34, 25, 17) 122.88%);
}

.mui-xte2ob {
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
}

.mui-1exhso2 {
    display: flex;
    flex-direction: column;
    padding: 40px 16px;
    -moz-box-pack: center;
    justify-content: center;
    height: 900px;
    gap: 28px;
}

.mui-1779oj {
    display: flex;
    flex-direction: column;
    padding-top: 12%;
    gap: 28px;
    -moz-box-align: start;
    align-items: start;
    width: 100%;
}

.mui-prq3ei {
    display: flex;
    flex-direction: column;
    gap: 16px;
    z-index: 3;
    text-align: left;
    -moz-box-align: start;
    align-items: start;
    width: 100%;
}

.mui-1qvkqwv {
    display: flex;
    position: relative;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    border-radius: 100px;
    background-color: rgb(69, 50, 33);
    gap: 6px;
    width: fit-content;
    max-height: 52px;
    padding: 10px 16px;
}

.mui-6h2ygd {
    margin: 0px;
    font-style: normal;
    line-height: 28px;
    letter-spacing: 0px;
    -webkit-text-stroke: 0px rgb(139, 129, 116);
    font-weight: 800;
    font-family: "NUNITO", sans-serif;
    color: rgb(201, 177, 156);
    filter: unset;
    background: unset;
    font-size: 17px !important;
    -webkit-text-fill-color: rgb(255, 213, 153);
}

.mui-1apa7z3 {
    margin: 0px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    background: linear-gradient(rgb(246, 245, 244) 0%, rgb(208, 204, 200) 115.91%) padding-box text;
    -webkit-text-fill-color: unset;
    -webkit-text-stroke: 0px rgb(139, 129, 116);
    color: rgb(244, 240, 235);
    text-shadow: rgb(133, 100, 71) -2px -2px 0px, rgb(133, 100, 71) 0px -2px 0px, rgb(133, 100, 71) 2px -2px 0px, rgb(133, 100, 71) 2px 0px 0px, rgb(133, 100, 71) 2px 2px 0px, rgb(133, 100, 71) 0px 2px 0px, rgb(133, 100, 71) -2px 2px 0px, rgb(133, 100, 71) -2px 0px 0px;
    filter: drop-shadow(rgb(133, 100, 71) 0px 2px 0px);
    font-family: BANGOPRO;
    text-transform: uppercase;
    max-width: 700px;
    font-size: 64px;
    line-height: 74px;
}

.mui-bdoyq0 {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 16px;
}

.mui-1nzm0el {
    position: relative;
    outline: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    appearance: none;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    min-width: 64px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    white-space: nowrap;
    transition: 0.25s ease-in;
    padding: 18px 30px;
    border-radius: 20px;
    font-family: "GAMERIA", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    -webkit-text-fill-color: unset;
    -webkit-text-stroke: 1px rgb(139, 129, 116);
    background: rgb(226, 154, 54);
    border: 2px solid rgb(163, 112, 41);
    box-shadow: rgb(163, 112, 41) 0px 3px 0px 0px;
}

.mui-1nzm0el > span, .mui-1nzm0el > span:first-of-type {
    -webkit-text-fill-color: rgb(244, 240, 235);
    -webkit-text-stroke-width: 0px;
    text-shadow: rgb(155, 107, 39) -1px -1px 0px, rgb(155, 107, 39) 0px -1px 0px, rgb(155, 107, 39) 1px -1px 0px, rgb(155, 107, 39) 1px 0px 0px, rgb(155, 107, 39) 1px 1px 0px, rgb(155, 107, 39) 0px 1px 0px, rgb(155, 107, 39) -1px 1px 0px, rgb(155, 107, 39) -1px 0px 0px;
    filter: drop-shadow(rgb(155, 107, 39) 0px 2px 0px);
}

.mui-1nzm0el > span {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    background: linear-gradient(rgb(246, 245, 244) 0%, rgb(208, 204, 200) 115.91%) padding-box text;
    -webkit-text-stroke: 1px rgb(139, 129, 116);
}

.mui-1nzm0el > span {
    white-space: nowrap;
}

.mui-1bxugv4 {
    position: relative;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    appearance: none;
    text-decoration: none;
    text-transform: uppercase;
    min-width: 64px;
    box-sizing: border-box;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    white-space: nowrap;
    transition: 0.25s ease-in;
    padding: 18px 8px;
    border-radius: 20px;
    font-family: "GAMERIA", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    background: linear-gradient(rgb(246, 245, 244) 0%, rgb(208, 204, 200) 115.91%) padding-box text;
    -webkit-text-fill-color: unset;
    color: rgb(255, 213, 153);
    -webkit-text-stroke: 1px rgb(145, 88, 8);
    text-shadow: rgb(145, 88, 8) 0px 1px 0px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.mui-1i6d6rg {
    margin: 0px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1px;
    background: linear-gradient(rgb(246, 245, 244) 0%, rgb(208, 204, 200) 115.91%) padding-box text;
    -webkit-text-fill-color: unset;
    -webkit-text-stroke: 0px rgb(139, 129, 116);
    color: rgb(255, 213, 153);
    text-shadow: rgb(139, 87, 15) -1px -1px 0px, rgb(139, 87, 15) 0px -1px 0px, rgb(139, 87, 15) 1px -1px 0px, rgb(139, 87, 15) 1px 0px 0px, rgb(139, 87, 15) 1px 1px 0px, rgb(139, 87, 15) 0px 1px 0px, rgb(139, 87, 15) -1px 1px 0px, rgb(139, 87, 15) -1px 0px 0px, rgb(145, 86, 8) -1px 3px 0px, rgb(145, 86, 8) 0px 3px 0px, rgb(145, 86, 8) 1px 3px 0px;
    font-family: BANGOPRO;
    text-transform: uppercase;
}

.mui-g6x49l {
    width: 100vw;
    background: linear-gradient(0deg, rgb(51, 37, 26) 46.69%, rgb(34, 25, 17) 100.06%, rgb(35, 26, 17) 106.8%);
}

.mui-myb1yx {
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    position: relative;
    overflow: hidden;
}

.mui-64ufro {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: auto;
    flex-direction: row;
    will-change: transform, opacity;
    user-select: none;
    transition: transform 0.5s;
    touch-action: pan-y;
}

.mui-17ec9fy {
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    flex-shrink: 0;
}

.mui-14j6eks {
    display: flex;
    flex-direction: row;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
    gap: 48px;
    padding: 100px 48px 120px;
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.mui-8pe45r {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mui-cf1k2i {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.mui-1qvkqwv {
    display: flex;
    position: relative;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    border-radius: 100px;
    background-color: rgb(69, 50, 33);
    gap: 6px;
    width: fit-content;
    max-height: 52px;
    padding: 10px 16px;
}

.mui-6h2ygd {
    margin: 0px;
    font-style: normal;
    line-height: 28px;
    letter-spacing: 0px;
    -webkit-text-stroke: 0px rgb(139, 129, 116);
    font-weight: 800;
    font-family: "NUNITO", sans-serif;
    color: rgb(201, 177, 156);
    filter: unset;
    background: unset;
    font-size: 17px !important;
    -webkit-text-fill-color: rgb(255, 213, 153);
}

.mui-gv8twc {
    margin: 0px;
    font-style: normal;
    font-weight: 400;
    background: linear-gradient(rgb(246, 245, 244) 0%, rgb(208, 204, 200) 115.91%) padding-box text;
    -webkit-text-stroke: 0px rgb(139, 129, 116);
    color: rgb(244, 240, 235);
    padding-top: 8px;
    font-family: BANGOPRO;
    text-transform: uppercase;
    width: 500px;
    letter-spacing: 2px;
    -webkit-text-fill-color: rgb(244, 240, 235);
    text-shadow: rgb(133, 100, 71) -1.5px -1.5px 0px, rgb(133, 100, 71) 0px -1.5px 0px, rgb(133, 100, 71) 1.5px -1.5px 0px, rgb(133, 100, 71) 1.5px 0px 0px, rgb(133, 100, 71) 1.5px 1.5px 0px, rgb(133, 100, 71) 0px 1.5px 0px, rgb(133, 100, 71) -1.5px 1.5px 0px, rgb(133, 100, 71) -1.5px 0px 0px;
    filter: drop-shadow(rgb(133, 100, 71) 0px 2px 0px);
}

.mui-em4hhf {
    margin: 0px;
    font-style: normal;
    font-weight: 400;
    background: linear-gradient(rgb(246, 245, 244) 0%, rgb(208, 204, 200) 115.91%) padding-box text;
    -webkit-text-stroke: 0px rgb(139, 129, 116);
    color: rgb(244, 240, 235);
    font-family: BANGOPRO;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-text-fill-color: rgb(255, 213, 153);
    text-shadow: rgb(133, 100, 71) -1px -1px 0px, rgb(133, 100, 71) 0px -1px 0px, rgb(133, 100, 71) 1px -1px 0px, rgb(133, 100, 71) 1px 0px 0px, rgb(133, 100, 71) 1px 1px 0px, rgb(133, 100, 71) 0px 1px 0px, rgb(133, 100, 71) -1px 1px 0px, rgb(133, 100, 71) -1px 0px 0px;
    filter: drop-shadow(rgb(133, 100, 71) 0px 1px 0px);
}

.mui-1grgdcn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 460px;
}

.mui-dz4avb {
    margin: 0px;
    font-style: normal;
    letter-spacing: 0px;
    -webkit-text-stroke: 0px rgb(139, 129, 116);
    font-weight: 600;
    font-family: "NUNITO", sans-serif;
    color: rgb(201, 177, 156);
    filter: unset;
    background: unset;
    -webkit-text-fill-color: rgb(201, 177, 156);
    max-width: 460px;
}

.mui-4wkn8j {
    position: relative;
    outline: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    appearance: none;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    min-width: 64px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    white-space: nowrap;
    transition: 0.25s ease-in;
    padding: 18px 30px;
    border-radius: 20px;
    font-family: "GAMERIA", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    -webkit-text-fill-color: unset;
    -webkit-text-stroke: 1px rgb(139, 129, 116);
    background: rgb(226, 154, 54);
    border: 2px solid rgb(163, 112, 41);
    box-shadow: rgb(163, 112, 41) 0px 3px 0px 0px;
}

.mui-4wkn8j > span, .mui-4wkn8j > span:first-of-type {
    -webkit-text-fill-color: rgb(244, 240, 235);
    -webkit-text-stroke-width: 0px;
    text-shadow: rgb(155, 107, 39) -1px -1px 0px, rgb(155, 107, 39) 0px -1px 0px, rgb(155, 107, 39) 1px -1px 0px, rgb(155, 107, 39) 1px 0px 0px, rgb(155, 107, 39) 1px 1px 0px, rgb(155, 107, 39) 0px 1px 0px, rgb(155, 107, 39) -1px 1px 0px, rgb(155, 107, 39) -1px 0px 0px;
    filter: drop-shadow(rgb(155, 107, 39) 0px 2px 0px);
}

.mui-4wkn8j > span {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    background: linear-gradient(rgb(246, 245, 244) 0%, rgb(208, 204, 200) 115.91%) padding-box text;
    -webkit-text-stroke: 1px rgb(139, 129, 116);
}

.mui-4wkn8j > span {
    white-space: nowrap;
}

.mui-8zob45 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mui-1wjcd5v {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 665 / 511;
    max-width: 665px;
}

@media (min-width: 600px) {
    .mui-18mlrpa > :not(style):not(style) {
      margin: 0px;
    }
}

@media (min-width: 0px) {
    .mui-7g5nui {
      text-align: center;
      padding-right: 12px;
    }
}

@media (min-width: 900px) {
    .mui-7g5nui {
      font-size: 20px;
      line-height: 28px;
      -webkit-text-fill-color: rgb(255, 255, 255) !important;
      text-shadow: rgb(106, 63, 118) -1.5px -1.5px 0px, rgb(106, 63, 118) 0px -1.5px 0px, rgb(106, 63, 118) 1.5px -1.5px 0px, rgb(106, 63, 118) 1.5px 0px 0px, rgb(106, 63, 118) 1.5px 1.5px 0px, rgb(106, 63, 118) 0px 1.5px 0px, rgb(106, 63, 118) -1.5px 1.5px 0px, rgb(106, 63, 118) -1.5px 0px 0px !important;
      filter: drop-shadow(rgb(106, 63, 118) 0px 1px 0px) !important;
    }
}

@media (min-width: 900px) {
    .mui-15j18an {
      display: block;
    }
}

@media (min-width: 600px) {
    .mui-18mlrpa > :not(style) ~ :not(style) {
      margin-left: 8px;
    }
}

@media (min-width: 600px) {
    .mui-18mlrpa > :not(style):not(style) {
      margin: 0px;
    }
}

@media (min-width: 600px) {
    .mui-5sjj46 {
      max-width: 1270px;
      width: 100%;
    }
}

@media (min-width: 600px) {
    .mui-5sjj46 {
      padding-left: 12px;
      padding-right: 12px;
    }
}

@media (min-width: 600px) {
    .mui-xte2ob {
      max-width: 1270px;
      width: 100%;
    }
}

@media (min-width: 600px) {
    .mui-xte2ob {
      padding-left: 12px;
      padding-right: 12px;
    }
}

@media (min-width: 600px) {
    .mui-1i6d6rg {
      font-size: 19px;
    }
}

@media (min-width: 600px) {
    .mui-myb1yx {
      max-width: 1270px;
      width: 100%;
    }
}

@media (min-width: 600px) {
    .mui-17ec9fy {
      max-width: 1270px;
      width: 100%;
    }
}

@media (min-width: 600px) {
    .mui-8pe45r {
      gap: 32px;
    }
}

@media (min-width: 900px) {
    .mui-cf1k2i {
      width: 420px;
    }
}

@media (min-width: 600px) {
    .mui-gv8twc {
      font-size: 40px;
      line-height: 52px;
    }
}

@media (min-width: 600px) {
    .mui-em4hhf {
      font-size: 40px;
      line-height: 52px;
    }
}

@media (min-width: 900px) {
    .mui-dz4avb {
      font-size: 20px;
      line-height: 34px;
    }
}

@media (min-width: 600px) {
    .mui-4wkn8j {
      width: fit-content;
    }
}

@media (min-width: 1200px) {
    .mui-8zob45 {
      -moz-box-align: end;
      align-items: end;
    }
}